__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

.venv/
venv/

.vscode/
.idea/

cache/
logs/
downloads/
snapshots/
config/user_settings.json

build/
dist/
*.spec

Thumbs.db
Desktop.ini
.DS_Store
